@layout('layout/main');


@section('title')
Kureducation - personalize
@endsection


@section('content')
<div class="container">
    @each(career in careers)
    <form action="/personalize/{{career.id}}">
        <span>{{career.name}}</span>
        <button type="submit">Calculate!</button>
    </form>
    @endeach
</div>

<div class="programs">
    <div class="uba_program"></div>
    <div class="new_program"></div>
</div>
@endsection