<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  {{ style('style') }}

  <title>
      @!section('title')
  </title>
</head>

<body>
  <header>
      
    <nav class="nav">

        <a href="/">Inicio</a>
        @if(auth.user.superadmin) 
          <a href="/careers" class="ml-auto">Careers</a>
          <a href="/subjects" >Subjects</a>
          <a href="/join">Join</a>
          <a href="/logout">Log out</a>  
        @else
        @loggedIn
        <a href="/personalize" class="ml-auto">Personalize</a>
        <a href="/logout">Log out</a>  
        @else
        <a href="/login" class="ml-auto">Log in</a>
        <a href="/signup">Sign up</a>
        @endloggedIn  
        @endif
        
        
    </nav>
  </header>

  <div class="main_container">
      @!section('content')
  </div>
</body>
</html>
