* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    padding: 0 2px;
    background-color: black;
    display: flex;
}
.nav a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    font-size: 20px;
}
.nav a:hover {
    background-color: rgb(46, 45, 45);
}

.title {
    text-align: center;
}
.form-container{
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
form input {
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 11px;

}
.kureducation {
    margin: 0 0 0 600px;
}
.button {
    width: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    margin: 0 auto;
    
}

.info_1 {
    background-color: gray;
    width: 500px;
    height: 500px;
}

.ml-auto {
    margin-left: auto;
}