/*GLOBALES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.title {
    text-align: center;
}

/*NAVEGACION*/
.pagination{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0;
}
/*FORMULARIOS*/
.form-container{
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.career_form{
    width: auto;
}
.log_form{
    width: 400px;
}
/*ICONS*/
.icon_container{
    display: flex;
    justify-content: left;
    margin-right: auto;
    flex-direction: row;
}
.icon_container svg{
    width: auto;
    color: #343a40;
}

.programs{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.uba_program{
    width: 50%;
    height: 79vh;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    border: 5px solid;

}
.new_program{
    width: 50%;
    height: 79vh;
    margin-right: 5px;
    border-radius: 20px;
    border: 5px solid blue

}
